<div class="d-flex justify-content-center mt-5">
    <nz-tabset nzLinkRouter>
        <nz-tab >
          <a *nzTabLink nz-tab-link routerLink="/">
            Timesheets
          </a>
        </nz-tab>
        <nz-tab>
            <a *nzTabLink nz-tab-link routerLink="/categories">
              Categories
            </a>
          </nz-tab>
          <nz-tab>
            <a *nzTabLink nz-tab-link routerLink="/clients">
              Clients
            </a>
        </nz-tab>
      </nz-tabset>
</div>