<app-filterbar (filterLetterEmit)="handlerFilterAsync($event)"></app-filterbar>
<div class="mt-5">
    <nz-collapse>
        <nz-collapse-panel *ngFor="let category of categoires" [nzHeader]="category.name">
            <app-one-category [category]="category" (deleteCategoryEmit)="handleDeleteAsync($event)"></app-one-category>
        </nz-collapse-panel>
      </nz-collapse>
</div>
<div class="mt-4 d-flex justify-content-center">
    <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="categoryCount" [nzPageSize]="pageSize" (nzPageIndexChange)="pageChange($event)"></nz-pagination> `
</div>