<div class="filteri">
    <button
      type="button"
      value="a"
      class="filter-buttons"
    >
      A
    </button>
    <button
      type="button"
      value="b"
      class="filter-buttons"
    >
      B
    </button>
    <button
      type="button"
      value="c"
      class="filter-buttons"
    >
      C
    </button>
    <button
      type="button"
      value="d"
      class="filter-buttons"
    >
      D
    </button>
    <button
      type="button"
      value="e"
      class="filter-buttons"
    >
      E
    </button>
    <button
      type="button"
      value="f"
      class="filter-buttons"
    >
      F
    </button>
    <button
      type="button"
      value="g"
      class="filter-buttons"
    >
      G
    </button>
    <button
      type="button"
      value="h"
      class="filter-buttons"
    >
      H
    </button>
    <button
      type="button"
      value="i"
      class="filter-buttons"
    >
      I
    </button>
    <button
      type="button"
      value="j"
      class="filter-buttons"
    >
      J
    </button>
    <button
      type="button"
      value="k"
      class="filter-buttons"
    >
      K
    </button>
    <button
      type="button"
      value="l"
      class="filter-buttons"
    >
      L
    </button>
    <button
      type="button"
      value="m"
      class="filter-buttons"
    >
      M
    </button>
    <button
      type="button"
      value="n"
      class="filter-buttons"
    >
      N
    </button>
    <button
      type="button"
      value="o"
      class="filter-buttons"
    >
      O
    </button>
    <button
      type="button"
      value="p"
      class="filter-buttons"
    >
      P
    </button>
    <button
      type="button"
      value="q"
      class="filter-buttons"
    >
      Q
    </button>
    <button
      type="button"
      value="r"
      class="filter-buttons"
    >
      R
    </button>
    <button
      type="button"
      value="s"
      class="filter-buttons"
    >
      S
    </button>
    <button
      type="button"
      value="t"
      class="filter-buttons"
    >
      T
    </button>
    <button
      type="button"
      value="u"
      class="filter-buttons"
    >
      U
    </button>
    <button
      type="button"
      value="v"
      class="filter-buttons"
    >
      V
    </button>
    <button
      type="button"
      value="w"
      class="filter-buttons"
    >
      W
    </button>
    <button
      type="button"
      value="x"
      class="filter-buttons"
    >
      X
    </button>
    <button
      type="button"

      value="y"
      class="filter-buttons"
    >
      Y
    </button>
    <button
      type="button"
      value="z"
      class="filter-buttons"
    >
      Z
    </button>
</div>
