<app-filterbar (filterLetterEmit)="filterHandler($event)"></app-filterbar>
<div *ngIf="loaded; else loading">
  <div class="mt-5">
    <nz-collapse>
      <nz-collapse-panel
        *ngFor="let member of members"
        [nzHeader]="member.name"
      >
        <app-one-member [member]="member" (deleteMemberEmit)="deleteMember($event)"
        ></app-one-member>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
  <div class="mt-4 d-flex justify-content-center">
    <nz-pagination
      [nzPageIndex]="pageIndex"
      [nzTotal]="memberCount"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="pageChange($event)"
    ></nz-pagination>
    `
  </div>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center mt-5">
    <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
  </div>
</ng-template>
