<div class="sirina">
    <form 
    nz-form
    >
        <nz-form-item>
          <nz-form-label nzFor="name">Category name</nz-form-label>
          <nz-form-control>
            <input [width]="50" nz-input name="name" type="text" id="name"/>
          </nz-form-control>
        </nz-form-item >
      </form>
</div>
    <div class="mt-2">
        <button nz-button nzType="primary">Update</button>
        <button nz-button nzDanger="" nzType="primary" danger class="ms-3 float-end">Delete</button>
    </div>
