<div class="d-flex justify-content-center" style="margin-top: 300px">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <span style="color:red">{{error}}</span>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input valid email!">
              <nz-input-group>
                <input type="email" nz-input formControlName="email" placeholder="Email" style="width: 300px" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Send</button>
        </form>
</div>
